html,
body,
header,
.view {
    height: 100%;
    overflow-wrap: break-word;
}

body {
    background-color: #eee;
    color: #3c4858;
}

body a {
    color: #3c4858;
}

body a:hover {
    color: #1abc9c;
}

.hover-with-bg {
    display: inline-block;
    padding: 0.45rem;
}

.hover-with-bg:hover {
    background-color: #f8f9fa !important;
}

.visitors {
    font-size: 0.8em;
    padding: 0.45rem;
    float: right;
}

#board {
    position: relative;
    margin-top: -3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 3;
}

@media (max-width: 768px) {
    header .h2 {
        font-size: 1.5rem;
    }
    .nopadding-md {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#local-search-result .search-list-title {
    border-left: 3px solid #0d47a1;
}

#local-search-result .search-list-content {
    padding: 0 1.25rem;
}

.markdown-body hr {
    height: 0.2em;
    margin: 2rem 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-group-item {
    border: 0;
}

.page-link {
    font-size: 1.1rem;
}

.navbar {
    background-color: transparent;
    font-size: 18px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff1e;
    border-bottom-style: solid;
    box-shadow: 0 0px 0px 0 rgb(255, 255, 255), 0 0px 0px 0 rgba(0, 0, 0, .12);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.navbar-custom {
    color: white;
}

.navbar-custom a {
    color: white;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.top-nav-collapse {
    background-color: #2f4154;
}

.navbar-col-show {
    background-color: #2f4154;
}

@media (max-width: 768px) {
    .navbar {
        font-size: 1rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0;
    }
}

.navbar-dark .navbar-nav .nav-item {
    margin-left: 44px;
}

.navbar-dark .navbar-nav .nav-item-disable {
    margin-left: 44px;
}

.navbar-dark .navbar-nav .nav-item-disable:hover {}

.navbar-dark .navbar-nav .nav-item:hover {
    list-style-position: inside;
    list-style: url('/assets/image/indicator_green.png');
    list-style-type: disc;
}

.navbar-dark .navbar-nav .nav-item.selected {
    list-style-position: inside;
    list-style: url('/assets/image/indicator_green.png');
    list-style-type: disc;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link-disable {
    color: rgba(255, 255, 255, .6);
    padding: 0;
    cursor: default;
}

.navbar-dark .navbar-nav .nav-link-disable:hover {
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-item.selected .nav-link {
    color: rgba(255, 255, 255, 1);
}

.recenthead {
    margin-bottom: 40px;
    padding-bottom: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .12);
}

.recenthead h1 {
    font-size: 80px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    padding: 0;
}

.recenthead p {
    max-width: 700px;
    font-size: 20px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(255, 255, 255, .8);
}

.recentcontainer {
    height: 1200px;
}

.recentitem {
    background-color: #2e2d2d;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    cursor: pointer;
    overflow: hidden;
}

.recentitem:hover .img,
.recentitem:focus .img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.recentcontainer .recentitem .img {
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.recentcontainer .recentitem .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.recentcontainer .recentitem .mask>div {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.recentcontainer .recentitem .mask>div>span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    margin: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.recentitem.c-1,
.grid-sizer {
    width: 33.33333%;
}

.recentitem.c-2 {
    width: 66.66666%;
}

.recentitem.c-3 {
    width: 100%;
}

.recentitem.r-1 {
    height: 400px;
}

.recentitem.r-2 {
    height: 800px;
}

.recentitem.r-3 {
    height: 1200px
}

.recentitem.r-4 {
    height: 1600px
}

.workshead {
    margin-bottom: 36px;
}

.workshead h1 {
    font-size: 80px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
    padding: 0;
}

.workshead p {
    max-width: 700px;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(255, 255, 255, .8);
}

.worksrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.worksrow .worksitem {
    width: 190px;
    height: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #2e2d2d;
    cursor: pointer;
}

.worksitem {
    overflow: hidden;
}

.worksitem:hover .img,
.worksitem:focus .img {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.worksrow .worksitem .img {
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .10);
    display: none;
}

.worksrow .worksitem .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.worksrow .worksitem .mask>div {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.worksrow .worksitem .mask>div>span {
    font-size: 14px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.worksrow .worksitem-blank {
    width: 190px;
    height: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.worksrow .worksitem:hover {
    background-color: rgba(255, 255, 255, .1);
}

.portfolio-filter {
    padding: 0;
    margin-bottom: 50px;
    padding-bottom: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, .12);
}

.portfolio-filter button {
    outline: none;
    width: 150px;
    height: 54px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(255, 255, 255, .60);
    transform: .3s all;
}

.portfolio-filter button:hover {
    border: 1px solid rgba(255, 255, 255, .60);
    color: rgba(255, 255, 255, .80);
    background-color: rgba(255, 255, 255, .10);
}

.portfolio-filter button.selected {
    border: 1px solid rgba(255, 255, 255, .20);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .10);
}

.wallpapershead {
    margin-bottom: 60px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.wallpapershead h1 {
    font-size: 80px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
    padding: 0;
}

.wallpapershead p {
    max-width: 700px;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(255, 255, 255, .8);
}

.wallpapersrow {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wallpapersrow .wallpapersitem {
    width: 560px;
    height: 400px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.wallpapersrow .wallpapersitem .wallpapers-pic {
    width: 560px;
    height: 320px;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}

.wallpapersrow .wallpapersitem .wallpapers-pic>img {
    width: 100%;
    cursor: pointer;
    transition: all 0.6s;
}

.wallpapersrow .wallpapersitem .wallpapers-pic>img:hover {
    transform: scale(1.2);
}

.wallpapersrow .wallpapersitem .wallpapers-footer {
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wallpapersrow .wallpapersitem .wallpapers-footer .wallpapers-title {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgba(255, 255, 255, 1);
}

.wallpapersrow .wallpapersitem .wallpapers-footer .wallpapers-button {
    position: relative;
    width: 140px;
    height: 44px;
    color: rgba(255, 255, 255, .60);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, .12);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 20px;
}

.wallpapersrow .wallpapersitem .wallpapers-footer .wallpapers-button:hover {
    border: 1px solid rgba(255, 255, 255, .60);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .20);
}

.storyhead {
    margin-bottom: 140px;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, .12);
}

.storyhead h1 {
    font-size: 80px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
    padding: 0;
}

.storyhead p {
    max-width: 700px;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: rgba(255, 255, 255, .8);
}

.story-container .story-empty {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons>li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.footer {
    margin-top: 40px;
    padding: 28px;
    border-top-color: rgba(255, 255, 255, .12);
    border-top-width: 1px;
    border-top-style: solid;
}

.footer nav {
    justify-content: center;
}

.footer ul {
    margin-bottom: 0;
}

.pagination a,
.pagination .current {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.pagination a:hover,
.pagination .current {
    background-color: #eee;
}

.scroll-down-bar {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    height: 72px;
    text-align: center;
    cursor: pointer;
    bottom: 0;
}

.scroll-down-mouse {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: scroll-shine 1.5s infinite;
    animation: scroll-shine 1.5s infinite;
}

.scroll-down-arrow {
    position: absolute;
    padding-bottom: 20px;
    margin-left: 4px;
    color: #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: scroll-down 1.5s infinite;
    animation: scroll-down 1.5s infinite;
}

#scroll-top-button {
    opacity: .8;
    position: fixed;
    background: transparent;
    border-radius: 4px;
    bottom: -60px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: scroll-shine 1.5s infinite;
    animation: scroll-shine 1.5s infinite;
    outline: none;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

#scroll-top-button:hover {
    opacity: 1;
}

#scroll-top-button i {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#scroll-top-button:hover i,
#scroll-top-button:active i {
    -webkit-animation-name: scroll-top;
    animation-name: scroll-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.social-icons .fab {
    color: rgba(255, 255, 255, 1)
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    background: #fff;
}

.animated-icon span:nth-child(1) {
    top: 0;
}

.animated-icon span:nth-child(2) {
    top: 10px;
}

.animated-icon span:nth-child(3) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.wechat {
    cursor: pointer;
    position: relative;
}

.wechat:hover .wechat-qrcode {
    display: block;
}

.wechat-qrcode {
    width: 200px;
    height: 300px;
    background: url("") no-repeat;
    background-size: 100%;
    position: absolute;
    right: -100px;
    z-index: 99;
    display: none;
}

@-moz-keyframes scroll-shine {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

@-webkit-keyframes scroll-shine {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

@-o-keyframes scroll-shine {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes scroll-shine {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

@-moz-keyframes scroll-down {
    0% {
        opacity: 0.8;
        bottom: 0;
    }
    50% {
        opacity: 0.4;
        bottom: -.3em;
    }
    100% {
        opacity: 0.8;
        bottom: 0;
    }
}

@-webkit-keyframes scroll-down {
    0% {
        opacity: 0.8;
        bottom: 0;
    }
    50% {
        opacity: 0.4;
        bottom: -.3em;
    }
    100% {
        opacity: 0.8;
        bottom: 0;
    }
}

@-o-keyframes scroll-down {
    0% {
        opacity: 0.8;
        bottom: 0;
    }
    50% {
        opacity: 0.4;
        bottom: -.3em;
    }
    100% {
        opacity: 0.8;
        bottom: 0;
    }
}

@keyframes scroll-down {
    0% {
        opacity: 0.8;
        bottom: 0;
    }
    50% {
        opacity: 0.4;
        bottom: -.3em;
    }
    100% {
        opacity: 0.8;
        bottom: 0;
    }
}

@-moz-keyframes scroll-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-0.35rem);
        transform: translateY(-0.35rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes scroll-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-0.35rem);
        transform: translateY(-0.35rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes scroll-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-0.35rem);
        transform: translateY(-0.35rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes scroll-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-0.35rem);
        transform: translateY(-0.35rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.index-header {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .index-header {
        font-size: 1.25rem;
        white-space: normal;
        overflow: hidden;
        margin-top: 1.25rem;
    }
}

.index-thumbnails {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.index-excerpt {
    margin: 0.5rem 0 0.5rem 0;
    height: auto;
    max-height: 5rem;
    line-height: 1.25rem;
    overflow: hidden;
}

.index-excerpt .index-text {
    float: right;
    margin-left: -0.25rem;
    width: 100%;
    word-break: break-word;
}

.index-excerpt::before {
    float: left;
    width: 0.25rem;
    content: '';
    height: 2rem;
}

.post-content {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 64rem;
}

.post-content img {
    max-width: 90%;
    margin: 1.5rem auto;
    display: block;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 768px) {
    .post-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 425px) {
    .post-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.post-content h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    display: block;
    content: "";
    margin-top: -50px;
    height: 50px;
    width: 1px;
    visibility: hidden;
}

#toc {
    padding: 3rem 0 0 0;
}

#tocbot ol {
    list-style: none;
    padding-inline-start: 1rem;
}

.tocbot-list ol {
    list-style: none;
    padding-left: 1rem;
}

.tocbot-link {
    color: #3c4858;
}

.tocbot-active-link {
    font-weight: 600;
    color: #1abc9c;
}

.tocbot-is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.tocbot-is-collapsed {
    max-height: 0;
}

@media (max-width: 1024px) {
    .toc-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.custom,
.comments {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media (max-width: 425px) {
    .custom,
    .comments {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 64rem) {
    .custom,
    .comments {
        max-width: 64rem;
    }
}

.about-avatar {
    position: relative;
    margin: -8rem auto 1rem;
    max-width: 10rem;
    z-index: 3;
}

.category-tree-list {
    font-size: 1rem;
    list-style-type: circle;
}

.category-tree-list .category-tree-list-link {
    display: inline-block;
    padding: 0.1rem 0.55rem;
    font-weight: 350;
}

.category-tree-list .category-tree-list-count {
    padding-left: 0.5rem;
    color: #99a9bf;
    font-size: 0.75rem;
}

.category-tree-list .category-tree-list-count::before {
    content: "(";
}

.category-tree-list .category-tree-list-count::after {
    content: ")";
}

.tagcloud a {
    display: inline-block;
    padding: 0.1rem 0.55rem;
    font-weight: 350;
}

.tagcloud a:hover {
    color: #1abc9c !important;
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

figure {
    margin: 0;
}

.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.fog {
    height: 120vh;
    width: 100%;
}

.fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
}

.fog__img--first {
    opacity: 0.1;
    background: url("/assets/image/fog-1.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
}

.fog__img--second {
    opacity: 0.1;
    background: url("/assets/image/fog-2.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}

@keyframes marquee {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-200vw, 0, 0);
        transform: translate3d(-200vw, 0, 0);
    }
}